tests/eva/assets/**/*.h5 filter=lfs diff=lfs merge=lfs -text
tests/eva/assets/**/*.png filter=lfs diff=lfs merge=lfs -text
tests/eva/assets/**/*.jpg filter=lfs diff=lfs merge=lfs -text
tests/eva/assets/**/*.tif filter=lfs diff=lfs merge=lfs -text
tests/eva/assets/**/*.tiff filter=lfs diff=lfs merge=lfs -text
tests/eva/assets/**/*.jsonl filter=lfs diff=lfs merge=lfs -text
tests/eva/assets/**/*.parquet filter=lfs diff=lfs merge=lfs -text
tests/eva/assets/**/*.csv filter=lfs diff=lfs merge=lfs -text
tests/eva/assets/**/*.arrow filter=lfs diff=lfs merge=lfs -text
tests/eva/assets/**/*.pt filter=lfs diff=lfs merge=lfs -text
tests/eva/assets/**/*.npy filter=lfs diff=lfs merge=lfs -text
tests/eva/assets/**/*.xml filter=lfs diff=lfs merge=lfs -text
tests/eva/assets/**/*.mat filter=lfs diff=lfs merge=lfs -text
tests/eva/assets/**/*.nii filter=lfs diff=lfs merge=lfs -text
tests/eva/assets/**/*.nii.gz filter=lfs diff=lfs merge=lfs -text
