tests/eva/assets/vision/datasets/pcam/*.h5 filter=lfs diff=lfs merge=lfs -text
tests/eva/assets/**/*.png filter=lfs diff=lfs merge=lfs -text
tests/eva/assets/**/*.jpg filter=lfs diff=lfs merge=lfs -text
