---
name: CI

on:
  pull_request:
    branches:
      - "**"

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

permissions: {}

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          persist-credentials: false
      - name: Setting up PDM
        uses: pdm-project/setup-pdm@94a823180e06fcde4ad29308721954a521c96ed0 # v4
        with:
          python-version: "3.10"
          architecture: x64
      - name: Setting up nox
        uses: wntrblm/nox@2254a1ee500bbf66c2a5e4ff5dad030b9f579dcd # 2025.05.01
        with:
          python-versions: "3.10"
      - name: Performing lint checks
        run: nox -s lint
      - name: Performing static type checks
        run: nox -s check
  tests:
    strategy:
      matrix:
        os:
          - ubuntu-latest
        python-version:
          - "3.10"
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install OS dependencies
        run: |
          sudo apt update
          sudo apt install -y software-properties-common
          sudo add-apt-repository ppa:openslide/openslide
          sudo apt install -y openslide-tools
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          lfs: true
          persist-credentials: false
      - name: Setting up PDM
        uses: pdm-project/setup-pdm@94a823180e06fcde4ad29308721954a521c96ed0 # v4
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Setting up nox
        uses: wntrblm/nox@2254a1ee500bbf66c2a5e4ff5dad030b9f579dcd # 2025.05.01
        with:
          python-versions: ${{ matrix.python-version }}
      - name: Executing unit tests
        run: nox -s test
  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          persist-credentials: false
      - name: Setting up PDM
        uses: pdm-project/setup-pdm@94a823180e06fcde4ad29308721954a521c96ed0 # v4
        with:
          python-version: "3.10"
          architecture: x64
      - name: Setting up nox
        uses: wntrblm/nox@2254a1ee500bbf66c2a5e4ff5dad030b9f579dcd # 2025.05.01
        with:
          python-versions: "3.10"
      - name: Configure Git Credentials
        run: |
          git config user.email "action@github.com"
          git config user.name "GitHub Action"
      - name: Building docs
        run: nox -s docs -- deploy --update-aliases dev
  security:
    runs-on: ubuntu-latest
    permissions:
      security-events: write # Needed for uploading SARIF reports
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          persist-credentials: false
      - name: Perform gitleaks checks
        run: |
          # Download and check
          curl -LJO https://github.com/gitleaks/gitleaks/releases/download/v8.18.2/gitleaks_8.18.2_linux_x64.tar.gz
          curl -LJO https://github.com/gitleaks/gitleaks/releases/download/v8.18.2/gitleaks_8.18.2_checksums.txt
          shasum -a 256 --ignore-missing --quiet -c gitleaks_8.18.2_checksums.txt
          if [ $? != 0 ]; then exit 1; fi
          # Extract gitleaks
          tar -zxvf gitleaks_8.18.2_linux_x64.tar.gz gitleaks
          # Run gitleaks
          ./gitleaks detect \
            --config .gitleaks.toml \
            --gitleaks-ignore-path .gitleaksignore \
            --no-git
      - name: Perform GitHub actions and workflows SAST
        uses: zizmorcore/zizmor-action@e673c3917a1aef3c65c972347ed84ccd013ecda4 # v0.2.0
        with:
          min-severity: low
          persona: pedantic
          version: latest
